// Colores
$primary-color: rgb(97, 18, 50);
$secundary-color:grey;
$text-color: #333;
$card-padding:10px;
$card-border-radius:5px;

//Tipografia
$font-family-base: 'Arial', sans-serif;
$font-family-headings: 'Georgia', serif;

//Tamaños de fuente
$font-size-base: 16px;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

