/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'scss/variables';
@import 'scss/mixing';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/space1.jpg');
    /* Reemplaza con la ruta correcta de tu imagen */
    background-size: cover;
    /* Asegura que la imagen cubra toda la sección */
    background-position: center center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    
    height: 35vh;
   
}



.navbar {
    background-color: $primary-color;
}

.container-fluid button {
    color: $secundary-color;

}

nav {
    font-family: "Monserrat", sans-serif;
    font-size: normal;
    font-size: 16px;
    margin-bottom: 100px;
    padding: $card-padding;
    border-radius: $card-border-radius;
}

.animation:hover {
    transform: scale(1.2);
}

.animation {
    transition: transform .6s;
}

.extra-margin {
    margin-top: 250px;
    margin-bottom: 10px;
}


.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 80px;
    margin-left: 5px;
}

/*Animaciones*/
.card:hover {
    transform: scale(1.1);
}

.card {
    padding-bottom: 15px;
    transition: transform .7s;
    border-radius: $card-border-radius;
}

.card h5 {
    font-size: 16px;
}

.card p {
    font-size: 15px;
}

.place-card {
    margin-top: 155px;
    margin-bottom: 50px;
    height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: justify;
}

.places {
    padding-left: 0%;
    margin-left: 200px;
    text-align: center;
    align-items: flex-start;
    color: white;
}

.places p {
    font-size: 20px;
    text-align: center;
}

.places h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.cont-back1 {
    background-color: $primary-color;
    width: 100vw;
    padding: 50px 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.carousel .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.carousel .col-md-6 {
    padding: 0;
    /* Elimina el padding entre columnas para que no haya espacios */
}

.carousel img {
    height: auto;
    width: 100%;
    /* Asegura que las imágenes ocupen todo el ancho */
}

.carousel-item {
    display: flex;
    /* Asegura que el contenido y las imágenes se alineen */
}




.global-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 0;
    background-image: url(img/space1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150vh;
    margin-top: 70px;
    padding: 32px 64px;
    display: flex;
    justify-content: space-around;
}

.txt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 64px;
    background-color: white;
    color: black;
    border-radius: $card-border-radius;
}

.form-img {
    padding-right: 20px;
}

.form-img img {
    height: 250px;
    border-radius: $card-border-radius;
}


.form-usuario {
    background-color: white;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 550px;

}

.form-usuario h2 {
    color: #283629;
    font-size: 35px;
}


.input-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-form label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.input-form input,
.input-form textarea {
    padding: 17px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

.input-form input::placeholder,
.input-form textarea::placeholder {
    color: #b5cab6;
}

.form-text {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.form-text a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50e04b;
}




/*FOOTER*/
.footer {

    background-color: $succes-color;
    padding-bottom: 3rem;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;

}


.menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 20rem;
    gap: 1rem;
    justify-content: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 50px;
    color: white;
}

.contact-info,
.information,
.my-account {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid #d2b495;
}

.copyright p{
    font-weight: 300;
    font-size: 1rem;
}


/*Hover*/
.information ul li a:hover,
.my-account ul li a:hover {
    color: black;
}

/**/


.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: white;
    font-size: 1.2rem;
}


.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.instagram {
    background: linear-gradient(#405de6,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #fcaf45)
}

.github {
    background-color: rgba(4, 3, 3, 0.821);
}

/*RESPONSIVE*/

@media(max-width:932px) {
    body {
        padding: 30px;
        // height: 5%;

    }

    .global-form {
        width: 100%;

    }

    .extra-margin {
        margin-top: 100px;
        margin-bottom: 0;
    }

    .responsive-dip {
        margin-bottom: 75px;
    }

    .place-card {
        margin-top: 0;
        margin-bottom: 0;
        height: 300px;



    }

    .places {
        color: black;
        ;
        margin: 0 0;
    }

    .cont-back1 {
        background-color: white;
        margin: 0 0;
        padding-top: 0;
        padding-bottom: 50px;

    }


    .form {
        margin-left: 0;
        background-color: white;
        margin-top: 0;
        padding: 0 0;
        display: flex;
        justify-content: space-around;
        height: 0vh;
    }

    .form-img {
        display: none;
    }

    .txt-form {
        display: none;
    }

    .form {
        padding-left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-usuario form {
        padding: 0;
        width: 100%;
    }

    .form-usuario {

        padding: 20px 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 372px;

    }

    .input-form input {
        padding: 15px;
    }

    .menu-footer{
        margin-top: 1150px;
        padding-left: 0;
        margin-left: 0;
        grid-template-columns: repeat(1,1fr);
        
    }
    .title-footer{
        font-size: 16px;
    }
    .social-icons {
        display: flex;
        gap: .9rem;
    }
    .copyright{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .information ul,.my-account ul{
        display: none;
    }
}